
/* MINIMAL */
html {
    padding-top: 50px;
    background-color: #EEE;
    color: #444;
    max-width: 550px;
    margin: 0 auto;
    font-family: 'Noto sans', sans-serif;
}
p, li {
    font-family: 'Noto serif', serif;
}
p {
    text-align: justify;
}
a {
    color: #29AB87;
    text-decoration: none;
}
article > section ul {
    padding-left: 15px;
    line-height: 2;
    list-style: circle;
}
article > section ul li li {
    font-family: 'Noto serif', serif;
    font-size: 0.85em;
    list-style: circle;
}
article > section p {
    font-size: 1.15em;
    line-height: 1.5;
}

/* PRETTY */

/* html { */
/*     background-color: #EEE; */
/*     color: #444; */
/* } */

/* h1, h2, h3, h4, h5, h6 { */
/*     color: #444; */
/*     font-family: 'Noto sans', sans-serif; */
/* } */
/* a { */
/*     color: #29AB87; */
/*     text-decoration: none; */
/* } */

/* body { */
/*     max-width: 550px; */
/*     margin: 0 auto; */
/* } */
/* body > header { */
/*     margin: 50px 0 20px; */
/* } */
/* body > header h1 { */
/*     margin: 5px 0; */
/* } */
/* body > header h2 { */
/*     margin: 5px 0; */
/*     font-size: 1em; */
/*     font-weight: 300; */
/*     color: #999; */
/* } */

/* main { */
/*     margin: 50px 0; */
/* } */

/* article > header h3 { */
/*     font-size: 1.75em; */
/*     font-family: 'Noto serif', serif; */
/*     font-weight: 500; */
/*     color: #555; */
/* } */
/* article > section p { */
/*     font-size: 1.25em; */
/*     line-height: 1.5; */
/*     color: #555; */
/* } */
/* article > section ul { */
/*     padding-left: 15px; */
/*     line-height: 2; */
/*     font-family: 'Noto sans', sans-serif; */
/*     list-style: circle; */
/* } */
/* article > section > ul > li { */
/*     margin: 15px 0; */
/* } */
/* article > section ul li li { */
/*     font-family: 'Noto serif', serif; */
/*     font-size: 0.85em; */
/*     list-style: circle; */
/* } */