<div class="column is-three-fifths-tablet is-three-fifths-desktop is-half-widescreen is-two-fifths-fullhd">
  <div class="content is-medium">
    <h1 style="display:none;"><%= title %></h1>
    <%= body %>
  </div>
</div>
