<style>

  .content
  {
    line-height : 2;
  }

  .content li
  {
    list-style : none;
  }

  .content ul
  {
    margin-left : 0;
  }

</style>

<div class="column">
  <div class="content is-medium">
    <ul>
      <%= for article <- articles do %>
        <li>
          <a href="<%= "/" <> category <> "/" <> URI.encode( article, &(&1 != ??) ) %>">
            <%= article %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>
