<style>

  .content
  {
    line-height : 2;
  }

  .content li
  {
    list-style : none;
  }

  .content ul
  {
    margin-left : 0;
  }

</style>

<!-- <h1><a class="title" href="/<%= category %>"><%= category %></a></h1> -->
<div class="content is-medium">
  <ul>
    <%= for article <- articles do %>
      <li>
        <a href="<%= "/" <> category <> "/" <> article %>">
          <%= article %>
        </a>
      </li>
    <% end %>
  </ul>
</div>
