<div class="column is-three-fifths-tablet is-three-fifths-desktop is-half-widescreen is-two-fifths-fullhd">
  <div class="content is-large">
    <img style="width:100%;" src="/images/tiny-slaps.gif"/>
    <blockquote><%= body %></blockquote>
  </div>
</div>
