<!DOCTYPE html>
<html>
  <head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>

    <%= if description do %>
      <meta name="description" content="<%= description %>"/>
    <% end %>

    <link rel="canonical" href="https://taysar.com"/>

    <link rel="icon" href="https://taysar.com/favicon.ico" type="image/x-icon">

    <link href="/css/prism.css" rel="stylesheet"/>
    <!-- <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,400i|Lora:400,400i|Merriweather:300,300i,400,400i|Lato:700|Source+Sans+Pro:700|Fira+Mono" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Lora:400,400i|Source+Sans+Pro:700,700i|Fira+Mono:400" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:300,300i,400,400i,600,600i|Fira+Mono:400" rel="stylesheet"> -->
    <link href="/css/fonts.css" rel="stylesheet"/>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css"> -->
    <link href="/css/bulma.min.css" rel="stylesheet"/>

    <script src="/js/prism.js"></script>

    <!--

    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "WebPage",
        "name": "A name. I use same as title tag",
        "url": "http://example.com",
        "description": "Description. I just use the same description as meta data",
        "breadcrumb":{
          "@type":"BreadcrumbList",
          "itemListElement":[
            {
              "@type":"ListItem",
              "position":"1",
              "item":{
                "@type":"WebSite",
                "@id":"http://example.com",
                "name":"Home"
              }
            },
            {
              "@type":"ListItem",
              "position":"2",
              "item":{
                "@type":"WebPage",
                "@id":"http://example.com/thispage",
                "name":"Same name from above"
              }
            }
          ]},
        "mainEntity": {
          "@type": "Article",
          "@id": "http://example.com/thispage#ArticleID",
          "author": "Author Name",
          "datePublished": "3 September, 2016",
          "dateModified": "3 September, 2016",
          "mainEntityOfPage": "http://example.com",
          "headline": "Headline. H1 of Article",
          "image": {
            "@type": "imageObject",
            "url": "http://example.com/image.png",
            "height": "500",
            "width": "300"
          },
          "publisher": {
            "@type": "Organization",
            "name": "Your Name",
            "logo": {
              "@type": "imageObject",
              "url": "http://example.com/logo.png"
            }
          }
        }
      }
    </script>

    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Blog",
        "name": "Blog name",
        "url": "https://example.com",
        "description": "Same as meta description",
        "publisher": {
          "@type": "Organization",
          "name": "Blog Name"
        },
        "sameAs": [
          "https://facebook.com/BlogPage",
          "https://plus.google/BlogPage"
        ],
        "potentialAction": {
          "@type": "SearchAction",
          "target": "https://example.com/search.php?q={search_term}",
          "query-input": "required name=search_term"
        },
        "blogPosts": [
          {
            "@type": "blogPosting",
            "mainEntityOfPage": "https://example.com/posts/blog-one.html",
            "headline": "Awesome First Post",
            "author": "Author Name",
            "datePublished": "10 May, 2016",
            "dateModified": "10 May, 2016",
            "image": {
              "@type": "imageObject",
              "url": "https://example.com/image/post-one-thumbnail.jpg",
              "height": "200",
              "width": "400"
            },
            "publisher": {
              "@type": "Organization",
              "name": "Blog name",
              "logo": {
                "@type": "imageObject",
                "url": "https://example.com/logo.png"
              }
            }
          },
          {
            "@type": "blogPosting",
            "mainEntityOfPage": "https://example.com/posts/blog-two.html",
            "headline": "Nice followup post",
            "author": "Author Name",
            "datePublished": "14 May, 2016",
            "dateModified": "14 May, 2016",
            "image": {
              "@type": "imageObject",
              "url": "https://example.com/image/post-two-thumbnail.jpg",
              "height": "200",
              "width": "400"
            },
            "publisher": {
              "@type": "Organization",
              "name": "Blog name",
              "logo": {
                "@type": "imageObject",
                "url": "https://example.com/logo.png"
              }
            }
          }
        ]
      }
    </script>

    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Person",
        "address": {
          "@type": "PostalAddress",
          "addressLocality": "Colorado Springs",
          "addressRegion": "CO",
          "postalCode": "80840",
          "streetAddress": "100 Main Street"
        },
        "colleague": [
          "http://www.example.com/JohnColleague.html",
          "http://www.example.com/JameColleague.html"
        ],
        "email": "mailto:info@example.com",
        "image": "janedoe.jpg",
        "jobTitle": "Research Assistant",
        "name": "Jane Doe",
        "alumniOf": "Dartmouth",
        "birthPlace": "Philadelphia, PA",
        "birthDate": "1979.10.12",
        "height": "72 inches",
        "gender": "female",
        "memberOf": "Republican Party",
        "nationality": "African American",
        "telephone": "(123) 456-6789",
        "url": "http://www.example.com",
        "sameAs" : [ "https://www.facebook.com/",
                     "https://www.linkedin.com/",
                     "http://twitter.com/",
                     "http://instagram.com/",
                     "https://plus.google.com/"]
      }
    </script>
    
    -->
    
    <style>
      
      body
      {
	padding-bottom: 250px;
      }

      a
      {
      }

      body, button, input, select, textarea
      {
        font-family: 'Source Serif Pro', serif;
	color: black;
      }

      .content.is-medium
      {
	font-weight: 300;
	font-size: 1.10rem;
	/* line-height: 1.85; */
      }

      .content ul ul
      {
	margin-top: 0;
      }

      .content ul p:not(:last-child)
      {
	margin-bottom: 0;
      }

      h1, h2, h3, h4, h5, h6
      {
        font-family: 'Source Serif Pro', serif;
        font-weight: 600;
      }

      .content h1, .content h2, .content h3, .content h4, .content h5, .content h6
      {
        font-variant: small-caps;
        letter-spacing: -0.01rem;
      }

      /*
      #logo
      {
        color: white;
        background-color: hsl(171, 45%, 75%);
        font-size: 1.5rem !important;
        letter-spacing: 0.2rem !important;
        margin-bottom: -0.75rem;
      }
      */

      .level.is-mobile .level-item:not(:last-child)
      {
        margin-right: 0;
      }

      nav.level a
      {
        font-size: 0.82rem;
        font-variant: small-caps;
        letter-spacing: -0.01rem;
      }

      aside.menu .menu-list .menu-list
      {
        font-size: 1.1rem;
        text-align: right;
        font-variant: small-caps;
        border-left: 0px solid #dbdbdb;
      }

      pre, code
      {
        font-family: 'Fira Mono', monospace;
      }

      .menu-list a:hover
      {
        opacity : 0.65;
        background-color : rgba(0,0,0,0);
      }

      .content li
      {
        list-style : circle;
      }

      .content iframe {
        background-color: #FFF;
        animation-name: loading-background-color;
        animation-duration: 2s;
        animation-iteration-count: infinite;
      }
      @keyframes loading-background-color {
         0% { background-color: #FFF; }
        50% { background-color: #DDD; }
        100 { background-color: #FFF; }
      }

      .content code[class*="language-"], .content pre[class*="language-"]
      {
        font-size: 0.85em;
      }

      .content .token.number
      {
        font-size: 0.85em;
        /* display: inline; */
        margin-right: 0;
      }

    </style>

  </head>
  <body>
    <div class="column is-hidden-tablet">
      <nav class="level is-mobile">
        <p class="level-item has-text-centered">
          <a class="link" href="/">home</a>
        </p>
        <%= for category <- categories do %>
          <p class="level-item has-text-centered">
            <a class="link" href="/<%= category %>"><%= category %></a>
          </p>
        <% end %>
      </nav>
    </div>
    <section class="section">
      <div class="container">
        <div class="columns is-variable is-6">
          <div class="column is-narrow is-hidden-mobile">
            <aside class="menu">
              <ul class="menu-list">
                <!-- <li><a id="logo" class="has-text-weight-semibold" href="/">TAYSAR</a></li> -->
                <li>
                  <ul class="menu-list">
                    <li><a class="<%= if( !category, do: "has-text-link" ) %>" href="/">home</a></li>
                    <%= for category_ <- categories do %>
                      <li><a class="<%= if( category_ == category, do: "has-text-link" ) %>" href="/<%= category_ %>"><%= category_ %></a></li>
                    <% end %>
                    <!-- <li><a href="mailto:taylorsarrafian@gmail.com?subject=Hello">contact</a></li> -->
                  </ul>
                </li>
              </ul>
            </aside>
          </div>
          <!-- <div class="column is-full-mobile is-two-thirds is-half-fullhd"> -->
          <!-- <div class="column is-three-fifths-tablet is-half-desktop is-two-fifths-widescreen is-one-third-fullhd"> -->
          <%= body %>
        </div>
      </div>
    </section>
  </body>
</html>
