<!DOCTYPE html>
<html>
  <head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>

    <%= if description do %>
      <meta name=”description” content="<%= description %>"/>
    <% end %>

    <!-- <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,400i|Lora:400,400i|Merriweather:300,300i,400,400i|Lato:700|Source+Sans+Pro:700|Fira+Mono" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Lora:400,400i|Source+Sans+Pro:700,700i|Fira+Mono:400" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:300,300i,400,400i,600,600i|Fira+Mono:400" rel="stylesheet">
    <!-- <link href="/css/fonts.css" rel="stylesheet"> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css"> -->
    <link href="/css/bulma.min.css" rel="stylesheet">
    
    <style>
      
      body
      {
	padding-bottom: 250px;
      }

      a
      {
      }

      body, button, input, select, textarea
      {
        font-family: 'Source Serif Pro', serif;
	color: black;
      }

      .content.is-medium
      {
	font-weight: 300;
	font-size: 1.10rem;
	line-height: 1.85;
      }

      .content ul ul
      {
	margin-top: 0;
      }

      .content ul p:not(:last-child)
      {
	margin-bottom: 0;
      }

      h1, h2, h3, h4, h5, h6
      {
        font-family: 'Source Serif Pro', serif;
        font-weight: 600;
      }

      .content h1, .content h2, .content h3, .content h4, .content h5, .content h6
      {
        font-variant: small-caps;
        letter-spacing: -0.01rem;
      }

      /*
      #logo
      {
        color: white;
        background-color: hsl(171, 45%, 75%);
        font-size: 1.5rem !important;
        letter-spacing: 0.2rem !important;
        margin-bottom: -0.75rem;
      }
      */

      aside.menu .menu-list .menu-list
      {
        text-align: right;
        font-variant: small-caps;
        border-left: 0px solid #dbdbdb;
      }

      pre, code
      {
        font-family: 'Fira Mono', monospace;
      }

      .menu-list a:hover
      {
        opacity : 0.65;
        background-color : rgba(0,0,0,0);
      }

      .content li
      {
        list-style : circle;
      }

    </style>

  </head>
  <body>
    <div class="column is-hidden-tablet">
      <nav class="level is-mobile">
        <p class="level-item has-text-centered">
          <a style="font-size:0.75rem;" class="link" href="/">home</a>
        </p>
        <%= for category <- categories do %>
          <p class="level-item has-text-centered">
            <a style="font-size:0.75rem;" class="link" href="/<%= category %>"><%= category %></a>
          </p>
        <% end %>
      </nav>
    </div>
    <section class="section">
      <div class="container">
        <div class="columns is-variable is-6">
          <div class="column is-narrow is-hidden-mobile">
            <aside class="menu">
              <ul class="menu-list">
                <!-- <li><a id="logo" class="has-text-weight-semibold" href="/">TAYSAR</a></li> -->
                <li>
                  <ul class="menu-list">
                    <li><a class="<%= if( !category, do: "has-text-link" ) %>" href="/">home</a></li>
                    <%= for category_ <- categories do %>
                      <li><a class="<%= if( category_ == category, do: "has-text-link" ) %>" href="/<%= category_ %>"><%= category_ %></a></li>
                    <% end %>
                  </ul>
                </li>
              </ul>
            </aside>
          </div>
          <!-- <div class="column is-full-mobile is-two-thirds is-half-fullhd"> -->
          <!-- <div class="column is-three-fifths-tablet is-half-desktop is-two-fifths-widescreen is-one-third-fullhd"> -->
          <%= body %>
        </div>
      </div>
    </section>
  </body>
</html>
