<!DOCTYPE html>
<html>
  <body>
    <header>
      <h1><a href="/">TAYSAR</a></h1>
      <h2><a href="/<%= category %>"><%= category %></a></h2>
    </header>
    <main>
      <ul>
        <%= for article <- articles do %>
          <li>
            <a href="<%= "/" <> category <> "/" <> article %>">
              <%= article %>
            </a>
          </li>
        <% end %>
      </ul>
    </main>
  </body>
</html>
