<div>
  <!-- <h1><a class="title" href="/<%= category %>"><%= category %></a></h1> -->
  <div class="box content is-medium">
  <ul>
    <%= for article <- articles do %>
      <li>
        <a href="<%= "/" <> category <> "/" <> article %>">
          <%= article %>
        </a>
      </li>
    <% end %>
  </ul>
  </div>
</div>
